<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pruebaPokemonApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E938FBE1F62D620009BC157</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E938FDA1F62D621009BC157</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E938FE51F62D621009BC157</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
